/*Header*/

h1 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700px;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  font-size: 35px;
  
  
}

.banner {
  height: 150px;
  width: 100%;
  background-color: gray;
  padding: 15px; 
  border: solid 5px white;
  border-radius: 10px;
  
}


p {
  color: white;

}


/*Quiz*/

#questions {
  color: white;
}

body {
  background-color: black;
}
